.wrapper {
    display: flex;
     /* Main Axis */
    justify-content: space-around;  /*수평상태 조정 */
     /* Cross Axis */
    align-items: center; /*수직상태 조정*/
    height: 200vh;
}
  
.box {
    width: 200px;
    height: 200px;
    background: peru;
    color: white;
  }